<div class="text-start org-page mt-4">

  <aside>
    <button class="btn btn-primary"
    data-bs-toggle="collapse" href="#orgCreation" role="button" 
    aria-expanded="false" aria-controls="orgCreation">
      <span>Create Organization</span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
      </span>
    </button>

    <div class="collapse mt-4" id="orgCreation">
      <form id="org-form">

        <input type="hidden" id="_csrf" name="_csrf" value="<%=locals.csrf%>">

        <div class="form-group org-field--name">
            <label for="org-name">Organization's Name</label>
            <input type="text" id="org-name">
           
        </div>
    
        <div class="form-group org-field--description">
            <label for="org-description">Description</label>
            <input type="text" id="org-description">
           
        </div>
    
        <div class="form-group org-field--population">
            <label for="org-population">Population</label>
            <input type="number" id="org-population">
        </div>
    
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
    
    </div>

  </aside>

  
    <div class="table-responsive small">
      <table class="table">
        <caption>List of Organizations</caption>
        <thead>
          <tr>
            <th scope="col">Org Name</th>
            <th scope="col">Description</th>
            <th scope="col">Total Size</th>
            <th scope="col">Active No. of Members</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="org-tbody">
                
        </tbody>
      </table>
  
  </div>

  
 
</div>