<section class="mt-4">
      <% if(orgDto?.orgName || orgDto?.orgDescription || orgDto?.orgCreatedDate ) {%>
        <h1><%=orgDto.orgName%></h1>
        <p><%= orgDto.orgDescription%></p>
        <div class="org-details--sub">
            <p>Creation Date:  <strong><%= orgDto.orgCreatedDate%></strong></p>
        </div>
    <% }else {%>
        <h1>You are not yet part of an Organization</h1>
    <% }%>
</section>