<section class="col-md-9 ms-sm-auto col-lg-10 px-md-4 dashboard-height">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
     
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
          This week
        </button> 
      </div>
    </div>

    <div class="table-responsive small">

      <% if(activeLink === 'org' && orgs.length > 0) {%>
      <table class="table">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">Org Name</th>
            <th scope="col">Description</th>
            <th scope="col">Total Size</th>
            <th scope="col">Active No. of Members</th>
          </tr>
        </thead>
        <tbody>

        <% for(item of orgs ) {%>
          <tr>
            <th scope="row"><%=  item.name%></th>
            <td><%=  item.description></td>
            <td><%=  item.population%></td>
            <td>15</td>
          </tr>
          <p></p>
        <% } %>
        
    
      
        </tbody>
      </table>
      <% }%>
    </div>
  </section>