<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/assets/css/style.css">
   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title><%=title%></title>
</head> 
<body>

    <% if(navItemsPresent) {%>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
                </ul>
        
                <% if(!locals.isAuthenticated) {%>
                    <span>
                      <a class="nav-link" href="/login">Log in</a>
                    </span>
        
                    <span >
                      <a href="/signup" class="btn btn-primary">Sign Up</a>
                    </span>
                  <% } else {%>
                    <span class="d-flex align-items-center justify-content-start">
                      <form action="/logout" method="post">
                        <input type="hidden" value="<%= locals.csrf %>" name="_csrf">
                        <button type="submit" class="btn btn-warning">Logout</button>
                      </form>              
                    </span>
                  <% } %>
    
              </div>
            </div>
          </nav>
    <% }%>



    