<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success fw-bolder" id="modalLabel" >Success</h5>
      </div>
      <div class="modal-body text-dark">
       Email has been sent!
      </div>
      <div class="modal-footer">
        <a href="/dashboard">Back to Dashboard</a>
      </div>
    </div>
  </div>
</div>