<%- include('includes/uppersection', {title: "Error 404 Page",navItemsPresent: true}); %>

    <section class="container mx-auto">
       <h1 class="display-2">
         <span class="strong">
            404
         </span>

         We couldn't find this page!
       </h1>
    </section>

<%- include('includes/lowersection'); %>