<%- include('includes/header', {title: "Error 404 Page",navItemsPresent: true}); %>

<div class="container">
   <div class="row justify-content-center">
       <div class="col-md-6 error-container">
           <div class="error-code">404</div>
           <div class="error-message--404">Oops! The page you are looking for does not exist.</div>
           <a href="/" class="btn btn-primary">Go Back Home</a>
       </div>
   </div>
</div>

<%- include('includes/footer'); %>


