<%- include('includes/uppersection', {title: "Error 500 Page",navItemsPresent: true}); %>

    <section class="container mx-auto">
       <h1 class="display-2">
         <span class="strong">
            500
         </span>

         Server Error 
       </h1>

       <p>Please Stand By. We are working on a fix.</p>
    </section>

<%- include('includes/lowersection'); %>