<%- include('includes/uppersection', {title: "About Page"}); %>

    <section class="container mx-auto">
        <h1 class="display-3">
            About
        </h1>
        
        <p>Gigama ni na website isip tabang sa mga nangitag form 
            ug pag padali ug paghan-ay sa unsaon nila ni paggamit.
            Sa akong nabantayan kasagara sa mga website na pwede 
            magdownload or mag edit og form, dili kaau epektebo ang 
            mga mismong websites. Makasalig ang bisag kinsa na mogamit ani 
            na website na dako kanig matabang ug magahin akong panahon 
            para mas monindot kani.
        </p>

        <span>
            - gikan sa creator
        </span>
        
    </section>

<%- include('includes/lowersection'); %>