<%- include('includes/uppersection', {title: "About Page"}); %>

    <section class="container mx-auto text-center">
        <h1 class="display-3">
            About
        </h1>
        
        <p>This is a Node.js Project is my way of saying I know Javascript well
        </p>

        
    </section>

<%- include('includes/lowersection'); %>