<% if(pageLoc === 'out') {%>
  <%- include('includes/header', {title: "Complete Set up",
  navItemsPresent: true}); %>
<% }%>

<main class="container mx-auto my-3">
    <% if(role === 'member')  {%>
        <%- include('setup-includes/org-member',{memberSetupInputs:orgCreationInputs}); %>
    <%} else {%>
      <%- include('setup-includes/org-creation', {pageLoc:pageLoc,
        orgCreationInputs:orgCreationInputs}); %>
    <%}%>
</main>


<% if(pageLoc === 'out') {%>
  <%- include('includes/footer'); %>
<% }%>
 

