<%- include('includes/header', {title: "Home Page",navItemsPresent: true}); %>
    <p><%= messages %></p> 

    <main>
        <h1>TaskQworker</h1>
        <p>Your One-Stop Task Management Tool</p>
    </main>


<%- include('includes/footer'); %>