<%- include('includes/uppersection', {title: "Home Page"}); %>
    <p><%= messages %></p> 

    <main>
        <h1>TaskQwek</h1>
        <p>Your One-Stop Task Management Tool</p>
    </main>


<%- include('includes/lowersection'); %>