<%- include('includes/header', {title: "Home Page",navItemsPresent: true}); %>
    <p><%= messages %></p> 

    <main class="container">
        <div class="main-header">TaskQworker</div>
        <p>Your One-Stop Task Management Tool</p>
    </main>


<%- include('includes/footer'); %>