<%- include('includes/uppersection', {title: "Home Page"}); %>
    <p><%= messages %></p> 

   <main>

    <header><p>User Name</p> <p>Associated Organizations</p></header>
     

    <section>
    <h5>Task Logs</h5>
    </section>
   </main>


<%- include('includes/lowersection'); %>