<%- include('includes/header', {title: "Login Page",navItemsPresent: true}); %>

<section class="container mx-auto login-section">   
    <form action="/admin/org-create" 
    method="post"
    class="mx-auto">
    <input type="hidden" value="<%=locals.csrf%>" name="_csrf">
        

    </form>

</section>


  <%- include('includes/footer'); %>