<%- include('includes/uppersection', {title: "Upload New Form Page"}); %>

<section class="container mx-auto uploadform-section">
   <div class="row justify-content-between">

    <div class="col-lg-5">
        <form action="http://localhost:3000/uploadform" method="post"
        enctype="multipart/form-data">
        <input type="hidden" value="<%= csrf %>" name="_csrf">
            <div class="mb-3">
                <label for="form-name" class="form-label">Form Name</label>
                <input type="text" class="form-control" 
                id="form-name" placeholder="Ex: SSS E-1"
                name="form-name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Form Description</label>
                <textarea class="form-control" id="description" rows="3"
                name="description"></textarea>
            </div>

            <div class="mb-3">
                <label for="form-file" class="form-label">File for Upload</label>
                <input type="file" class="form-control" 
                id="form-file" placeholder="File Here"
                accept=".pdf"
                name="form-file">
            </div>
            
            <div class="form-group text-end">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>
        </form>
    </div>

    <div class="col-lg-7">

    </div>
        
   </div>

</section>

<%- include('includes/lowersection'); %>


