@use '../abstracts/' as *;

main {
    text-align: center;
}

.main-header {
    font-family: $font-family--special;
    font-size: $font-size--header;
}

.sub-header {
    font-size: $font-size--sub-header;
    font-family: $font-family--special;
    padding: 0;
    margin: 1.75rem 0;
    line-height: 1.75rem;
}

.feature-box {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: #f8f9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    font-size: 3rem;
    color: #007bff;
}