
@use '../abstracts/' as *;

.error-container {
    text-align: center;
}
.error-code {
    font-size: 120px;
    font-weight: bold;
    color: #dc3545;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.error-message {
    font-size: $font-size--sub-header;
    margin-bottom: 20px;
    font-family: $font-family--special;
    line-height: 1.85rem;
}