

.error-container {
    text-align: center;
    margin-bottom: 50px;
}


.project-card {
    text-align: center;
    padding: 20px;
}
.add-project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #6c757d;
    cursor: pointer;
}


.parent {
    width: 200px;
    min-height: 100px;
    border: 2px dashed #333;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.child {
    width: 100px;
    height: 50px;
    background: lightblue;
    margin-bottom: 5px;
    cursor: grab;
    transition: all 0.3s ease-in-out;
}

.child:active {
    cursor: grabbing;
}


.project-details{

    &--container{
        text-align: left;
    }

    &--project-name::before {
        content: "";
        display: flex;
        width: 2.75rem;
        height: 2.75rem;
        background-color: green; 
        border-radius: 50%;
        margin: .75rem;
        border: 0.35rem solid darkgray; 
        box-shadow: 0 0 0 0.25rem lightgreen; 
        animation: pulse 1.5s infinite ease-in-out;;
    }


    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0.25rem lightgreen;
            transform: scale(1);
        }
        50% {
            box-shadow: 0 0 0 0.45rem lightgreen;
            transform: scale(1.05);
        }
        100% {
            box-shadow: 0 0 0 0.25rem lightgreen;
            transform: scale(1);
        }
    }
   
}



