@use '../abstracts/' as *;

.btn {
    border-radius: 1.5rem;
    padding: .725rem 1.15rem;
    font-size: $font-size--button-font;
    border: none;
}

.btn-primary {
    background-color: $color-primary;
    color: $color-calltoaction;
}

