
//This is the animation for loading

.loader {
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 2s linear infinite;
    margin: 0;
  }

  @keyframes l2 {to{background-size: 100% 1.5rem}}