<main class="project-details--container">
    <h4 class="project-details--project-name"><%=projectDto.projectName%></h4>
    <p> <strong>-- </strong> <%= projectDto.projectCreator %> (leader)</p>

    <ul>
        
    </ul>
</main>