    <!-- Modal -->
        <div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="createProjectModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="projectName" class="form-label">Project Name</label>
                            <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
                        </div>
                        <div class="mb-3">
                            <label for="projectDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="projectDescription" rows="3" placeholder="Enter project description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="projectDeadline" class="form-label">Deadline</label>
                            <input type="date" class="form-control" id="projectDeadline">
                        </div>

                        <div class="parent">
                            <div class="child"></div>
                            <div class="child"></div>
                            <div class="child"></div>
                          </div>
                          <div class="parent">
                          </div>
                          <div class="parent">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
                </div>
            </div>
            </div>
        </div>
        
        <main class="row mt-4" >
      
            <div class="col-md-3">
                <div class="card project-card add-project-card" data-bs-toggle="modal" data-bs-target="#createProjectModal">
                    <div class="card-body">+</div>
                </div>
            </div>
      
      
            <div class="col-md-3">
                <div class="card project-card">
                    <div class="card-body">Project A</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card project-card">
                    <div class="card-body">Project B</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card project-card">
                    <div class="card-body">Project C</div>
                </div>
            </div>
      
      
        </main>