    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="projectModalLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
        
        <div class="row mt-4" >
      
          <div class="col-md-3">
            <div class="card project-card add-project-card" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-body">+</div>
            </div>
        </div>
      
      
            <div class="col-md-3">
                <div class="card project-card">
                    <div class="card-body">Project A</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card project-card">
                    <div class="card-body">Project B</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card project-card">
                    <div class="card-body">Project C</div>
                </div>
            </div>
      
      
        </div>