<form action="/member/join-org" method="post">
    <% if(memberSetupInputs.message) {%>
      <p class="error-message"><%= memberSetupInputs.message %></p>
      <%}%>
    <input type="hidden" value="<%=locals.csrf%>" name="_csrf">
    <div>Join Your Organization</div>

    <div class="form-floating mb-3">
        <textarea type="text" class="form-control"
         id="org-code" name="org-code" value="<%= memberSetupInputs.orgCode %>"> </textarea>
        <label for="org-code">Organization Code</label>
      </div>

      <button class="btn btn-primary" type="submit" name="skip" value="skip"> Skip </button>
      <button class="btn btn-primary" type="submit" name="join" value="join"> Join </button>

</form>