<form action="/org-creation" method="post">

    <input type="hidden" value="<%=locals.csrf%>" name="_csrf">
    <div>As a Leader: Create Your Organization</div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control"
         id="org-name" name="org-name" 
         placeholder="Sample Org Name"
        >
        <label for="org-name">Organization</label>
      </div>

        <div class="form-floating mb-3">
        <textarea type="text" class="form-control"
         id="description" name="description"> </textarea>
        <label for="description">Description</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" class="form-control"
         id="population" name="population" 
         placeholder="Sample Org Name"
        >
        <label for="population">Population</label>
      </div>

      <button class="btn btn-primary" type="submit" name="skip" value="skip"> Skip </button>
      <button class="btn btn-primary" type="submit" name="create" value="create"> Create </button>

</form>